@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

button {
    outline: none !important;
}

body, html {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    overflow-x: hidden;
    @apply text-white;
}

#app {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    min-height: 100%;
}

#app > div {
    height: calc(100vh - 6rem);
}

.router-link {
    @apply p-1 ml-4 cursor-pointer;
}

.router-link.active {
    @apply border-b-2 border-solid pointer-events-none;
}

.router-link:not(.active):hover {
    @apply border-b-2 border-solid border-gray;
}
